.infome{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.photome{
  border: 4px solid #555555;
  padding: 5px;
  border-radius: 50%;
  font-size: 2rem;
  transition-duration: 0.3s;
}
/* phtome hover rotate 10 deg and scale 1.1 */
.photome:hover{
  transform: rotate(-10deg) scale(1.03);
}

.photome:active{
  transform: rotate(10deg) scale(.97);
  transition-duration: 0.3s;  
}

.description-me{
  margin-left: 50px;
  padding: 10px;
  padding-right: 25px;
  padding-left: 25px;
}
/* Header-c2 */
.work{
  widows: 300px;
  font-size: 20px;
  text-align: left;
}